<ul class="nav">
<li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
<li><a href="@Url.Action("Index", "Events")">Events</a></li>
<li><a href="@Url.Action("Index", "Analytics")">Analytics</a></li>
</ul>