@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>title</title>
	</head>
	<body>
		<div>
			<h1>Sample client website</h1>
			<a href="@Url.Action("SendEvent", "Home")">Trigger event</a>
			<a href="@Url.Action("Increment", "Home", new { key="registration" })">Trigger increment</a>
		</div>
	</body>
</html>