@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>title</title>
	</head>
	<body>
		<div>
			<h1>testing</h1>
			<a href="@Url.Action("SendEvent", "Home")">send event</a>
		</div>
	</body>
</html>