@model EventStreamR.Web.ViewModels.EventStreamViewModel

@{
    ViewBag.Title = "Event stream";
	Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Event aggregates</h2>
<div id="graph">

</div>

<h2>Event stream</h2>
<div class="row">
    <ul class="eventList" data-bind="template: { name: 'event-template', foreach: eventNotifications }">

    </ul>
    <script type="text/html" id="event-template">
        <li>
            <span class="key" data-bind="text:Key"></span>
            <span class="value" data-bind="text:Value"></span>
        </li>
    </script>
</div>

@section scripts
{
    <script type="text/javascript" src="@Model.EventProxyHubUrl"></script>
    <script type="text/javascript">
        $(function () {
            // Proxy created on the fly          
            $.connection.hub.url = '@Model.EventProxyHubUrl'
            var eventNotificationHub = $.connection.eventHub;
            eventNotificationHub.client.eventReceived = function (eventInfo) {
                viewModel.eventNotifications.push(eventInfo);
            }

            var eventCountViewerHub = $.connection.eventCountViewerHub;
            eventCountViewerHub.client.eventCountMessageReceived = function (eventCounts) {
                viewModel.aggregateNotifications.push(eventCounts);
                graphPulse(viewModel.aggregateNotifications);
            }

            $.connection.hub.start();

            var viewModel = {
                eventNotifications: ko.observableArray([]),
                aggregateNotifications: ko.observableArray([])
            }

            ko.applyBindings(viewModel);

            


        });

    </script>
}