@model EventStreamR.Web.ViewModels.EventStreamViewModel

@{
    ViewBag.Title = "Event stream";
}

<h2>Event stream</h2>
<div class="row">
    <ul class="eventList" data-bind="template: { name: 'event-template', foreach: eventNotifications }">

    </ul>
    <script type="text/html" id="event-template">
        <li>
            <span class="message" data-bind="text:Message"></span>
            <span class="source" data-bind="text:Source"></span>
        </li>
    </script>
</div>

<h2>Event aggregates</h2>
<div class="row">
    <ul class="aggregateList" data-bind="template: { name: 'aggregate-template', foreach: aggregateNotifications }">

    </ul>
    <script type="text/html" id="aggregate-template">
        <li>
            <span class="key" data-bind="text:Key"></span>
            <span class="value" data-bind="text:Count"></span>
        </li>
    </script>
</div>



@section scripts
{
    <script type="text/javascript" src="@Model.EventProxyHubUrl"></script>
    <script type="text/javascript">
        $(function () {
            // Proxy created on the fly          
            $.connection.hub.url = '@Model.EventProxyHubUrl'
            var eventNotificationHub = $.connection.eventHub;
            eventNotificationHub.client.eventReceived = function (eventInfo) {
                viewModel.eventNotifications.push(eventInfo);
            }

            var eventCountViewerHub = $.connection.eventCountViewerHub;
            eventCountViewerHub.client.eventCountMessageReceived = function (eventCounts) {
                for(var i in eventCounts.Items)
                {
                    viewModel.aggregateNotifications.push(eventCounts.Items[i]);
                }
            }

            $.connection.hub.start();

            var viewModel = {
                eventNotifications: ko.observableArray([]),
                aggregateNotifications: ko.observableArray([])
            }

            ko.applyBindings(viewModel);
        });
    </script>
}